.footer {
  color: #ffffff;
  padding: 48px 0 32px 0;

  a {
    color: #ffffff;

    &:hover {
      color: #650300;
    }
  }

  .footer-flex {
    border-bottom: 1px solid #ffffff;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: 375px) {
      margin-bottom: 16px;
    }
  }

  .footnav {
    margin-bottom: 24px;

    li {
      a {
        display: block;
        padding: 8px 24px;
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (max-width: 375px) {
      display: none;
    }
  }

  .contact-info {
    padding-bottom: 32px;

    p {
      font-size: 2.25rem;
      word-break: break-all;
      display: flex;
      align-items: center;

      @media (max-width: 375px) {
        font-size: inherit;
      }
    }

    .icon {
      font-size: 2.25rem;
      margin-right: 20px;

      @media (max-width: 375px) {
        font-size: 1.125rem;
        margin-right: 10px;
      }
    }

    @media (max-width: 375px) {
      padding-bottom: 24px;
    }
  }

  .sociallink li {
    a {
      width: 48px;
      display: block;
      margin-right: 32px;

      @media (max-width: 768px) {
        width: 40px;
        margin-right: 16px;
      }

      @media (max-width: 375px) {
        width: 24px;
      }
    }
    &:last-child {
      a {
        margin-right: 0;

        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
    }
  }

  .copyright-flex {
    justify-content: space-between;
  }

  .policy {
    li {
      a {
        display: block;
        padding: 8px 24px;

        @media (max-width: 375px) {
          padding: 8px 0 0 0;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }

    @media (max-width: 375px) {
      flex-direction: column;
    }
  }
}
