.header {
  background: #aa0601;
}

.logo {
  width: 104px; /* 80 + 12*2 = 104 */
  height: auto;
  padding: 0 12px;
}

.header-flex {
  justify-content: space-between;
  align-items: center;
}

.mainmenu {
  justify-content: space-between;
  padding: 25px 12px;
}

.mainmenu li:not(:last-child) {
  margin-right: 64px;
}

.mainmenu a {
  font-size: 20px;
  color: #ffffff;
}
