.header {
  padding: 16px 0;

  @media (max-width: 375px) {
    padding: 16px 0 0 0;
  }
}

.header-flex {
  justify-content: space-between;

  @media (max-width: 375px) {
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.logo {
  width: 80px;

  @media (max-width: 375px) {
    margin: 0 0 16px 15px;
  }
}

.mainmenu {
  align-items: center;

  li {
    a {
      font-size: 1.25rem;
      color: #ffffff;
      display: block;
      padding: 9px 32px;

      &:hover {
        color: #650300;
      }

      @media (max-width: 375px) {
        font-size: inherit;
        padding: 12px;
      }
    }
    &:last-child {
      a {
        padding-right: 0;
      }
    }

    @media (max-width: 375px) {
      width: 50%;
      text-align: center;
      border: 1px solid #ffffff;
    }
  }
}
