* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #650300;
  text-align: center;
  margin-bottom: 48px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  display: flex;
  margin: 0 -12px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ptb {
  padding: 80px 0;
}

.home-banner {
  text-align: right;
  background: url("../assets/images/home-header.png") no-repeat center / cover;
}

.home-banner-flex {
  height: 787px;
  justify-content: flex-end;
  align-items: center;
}

.home-banner-flex p {
  color: #650300;
}

.home-banner-flex .title01 {
  font-size: 36px;
}

.home-banner-flex .slogan {
  font-size: 64px;
  font-weight: bold;
}

.home-banner-flex a {
  font-size: 20px;
  color: #ffffff;
  background: #aa0601;
  display: inline-block;
  padding: 12px;
}

.home-intro {
  background: #fbf2f2;
}

.home-intro h2 {
  margin-bottom: 24px;
}

.home-intro-flex .item {
  width: 25%;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

.home-intro-flex h3 {
  font-size: 24px;
  font-weight: bold;
  color: #650300;
  margin-bottom: 8px;
}

.home-intro-flex img {
  width: 84px;
  margin-bottom: 16px;
}

.classic-glass-flex .item {
  width: 33.33%;
  padding: 0 12px;
}

.classic-glass-flex img {
  margin-bottom: 8px;
}

.classic-glass-flex p,
.endorse-glass-flex p {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: #650300;
  text-align: center;
}

.endorse-glass {
  background: url("../assets/images/index-bg.png") no-repeat center / cover;
}

.endorse-glass h2 {
  color: #ffffff;
}

.endorse-glass-flex .item {
  width: 50%;
  background: #ffffff;
}

.endorse-glass-flex .endorse-glass-bg1 {
  height: 240px;
  background: url("../assets/images/home-section4-1.png") no-repeat center /
    cover;
}

.endorse-glass-flex .endorse-glass-bg2 {
  height: 240px;
  background: url("../assets/images/home-section4-2.png") no-repeat center /
    cover;
}

.consumer-promotion-flex .item {
  width: 25%;
  padding: 0 12px;
  margin-bottom: 24px;
}

.consumer-promotion-flex .promotion {
  height: 205px;
  box-shadow: 0px 2px 6px #00000029;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.consumer-promotion-flex .consumer {
  margin-bottom: 8px;
}

.consumer-promotion-flex .date {
  font-size: 14px;
  color: #707070;
}

.contact-us {
  background: #fbf2f2;
}

.contact-us-flex {
  justify-content: center;
}

.contact-form {
  max-width: 636px;
}

.contact-form p {
  font-size: 20px;
  margin-bottom: 24px;
}

.contact-form .input-item label {
  display: block;
}

.contact-form .input-item input {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 16px;
}

.contact-form .input-item textarea {
  width: 100%;
  min-height: 136px;
  margin-bottom: 16px;
}

.contact-form .input-check {
  margin-bottom: 48px;
}

.contact-form .input-check .checkbox {
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
  accent-color: #aa0601;
}

.contact-form .submit-btn {
  color: #ffffff;
  text-align: center;
  background: #aa0601;
  max-width: 416px;
  display: block;
  margin: 0 auto;
  padding: 16px 0;
}
